.layout-content {
  padding: 3rem 4rem 0;
}

@media screen and (max-width: 768px) {
  .layout-content {
    padding: 3rem 1.5rem 0;
  }
}

@media screen and (max-width: 480px) {
  .layout-content {
    padding: 2rem 1rem 0;
  }
}
