.layout-dark {
  --glow-image: url(https://www.primefaces.org/cdn/primereact/images/layout/pattern.png),
    radial-gradient(50% 50% at center -25px, var(--primary-color) 0%, #000 100%);
  --glow-blend: hard-light, color-dodge;
}

.layout-wrapper,
body {
  background-color: var(--surface-ground);
}

.layout-wrapper {
  background-image: var(--glow-image);
  background-blend-mode: var(--glow-blend);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto 20rem;
}
