.layout-dark {
  --glow-image: url(https://www.primefaces.org/cdn/primereact/images/layout/pattern.png),
    radial-gradient(50% 50% at center -25px, var(--primary-color) 0%, #000 100%);
  --glow-blend: hard-light, color-dodge;
}

.layout-wrapper,
body {
  background-color: var(--surface-ground);
}

.layout-wrapper {
  background-image: var(--glow-image);
  background-blend-mode: var(--glow-blend);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto 20rem;
}

.app-dock {
  position: fixed;
  bottom: 8px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--dock-background, #1a1a1a);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}
